<!--<h1>{{title}}</h1>-->
<!--<form #loginForm = "ngForm" (ngSubmit)="userLogin(loginForm.value)">-->
<!--  <input type="text" placeholder="Enter Name" name="uname" ngModel>-->
<!--  <br><br>-->
<!--  <input type="text" placeholder="change title" name="lname" [(ngModel)]="title" ngModel>-->
<!--  <br><br>-->
<!--  <input type="password" placeholder="Enter Password" name="password" value="changed title from form" ngModel>-->
<!--  <br><br>-->
<!--  <button>Login</button>-->
<!--</form>-->

<!--<form [formGroup] = "loginFrom" (ngSubmit)="loginUser()">-->
<!--  <label>-->
<!--    username:-->
<!--    <input type="email" placeholder="Enter Name" name="user" formControlName="user">-->
<!--  </label>-->
<!--  <br>-->
<!--  <span style="color: red;" *ngIf="userValidator && userValidator.invalid && userValidator.touched">username empty</span>-->
<!--  <br>-->
<!--  <label>-->
<!--    password:-->
<!--  <input type="password" placeholder="Enter Password" name="password" formControlName ="password">-->
<!--  </label>-->
<!--  <br>-->
<!--  <span style="color: red;" *ngIf="passwordValidation && passwordValidation.invalid && passwordValidation.touched">password empty</span>-->
<!--  <br>-->
<!--  <button [disabled]="loginFrom.invalid">Login</button>-->
<!--</form>-->


<!--<h1 appRedEl>changed style directive using ElementRef</h1>-->


<!--<h1>{{ title }}</h1>-->
<!--<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">-->
<!--  <input type="email" required #name="ngModel" pattern="[a-zA-Z]+$" name="name" placeholder="Enter Name" ngModel />-->
<!--  <br />-->
<!--  <span *ngIf="name.invalid && name.touched" style="color: red;" >Please enter a Valid input</span><br />-->
<!--  <br />-->
<!--  <input type="password" name="password" minlength="2" required #password="ngModel" placeholder="Enter Password" ngModel />-->
<!--  <br />-->
<!--  <span *ngIf="password.invalid && password.touched" style="color: red;" >Please enter a Valid input</span><br />-->
<!--  <br />-->
<!--  <button [disabled]="loginForm.invalid">Login</button>-->
<!--</form>-->

<nav class="navbar bg-body-tertiary bg-success mb-4">
  <div class="container-fluid">
    <a class="navbar-brand px-3 fw-bold text-white" href="#">
      FORM
    </a>
  </div>
</nav>
<app-form-validation></app-form-validation>




